/*------------------------------------ Desktop CSS ---------------------------------------------*/

.myPBS-pillMenu-expanderMain {
  position: relative;
}
.myPBS-pillMenu-overlapblackbg {
  display: none;
}
.myPBS-pillMenu-wsmenu {
  color: #333;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #fff;
  position: relative;
  padding: 0px;
  width: 100%;
  width: 1200px;
  background: rgba(0,0,0,0.75);
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
}


.myPBS-pillMenu-menuDisabled {
  width: 420px;
}
.myPBS-pillMenu-menuDisabled .myPBS-pillMenu-menuSection {
  display: none !important;
}



.myPBS-pillMenu-openCloseBtn {
  display: inline-block;
  padding: 0 25px;
}

.myPBS-pillMenu-collapsedMenu {
  width: 150px;
  overflow: hidden;
  white-space: nowrap;
}
.myPBS-pillMenu-logo {
  width: 75px;
}
.myPBS-pillMenu-hideMenuSections .myPBS-pillMenu-menuSection,
.myPBS-pillMenu-hideMenuSections .myPBS-pillMenu-menuDisabledMsg {
  display: none;
}
ul.myPBS-pillMenu-wsmenu-list {
  text-align: left;
  margin: 0 auto 0 auto;
  width: 100%;
  display: table;
  padding: 0px;
}
ul.myPBS-pillMenu-wsmenu-list > li {
  text-align: right;
  display: inline-block;
  margin: 0 15px;
}
ul.myPBS-pillMenu-wsmenu-list > li:last-child,
.myPBS-pillMenu-wsmenu-list > li:first-child {
  margin: 0;
}
ul.myPBS-pillMenu-wsmenu-list > li:last-child {
  float: right;
  border-left: solid 1px rgba(255,255,255,0.3);
}
.myPBS-pillMenu-arrow:after {
  border-left: 4px solid rgba(0, 0, 0, 0);
  border-right: 4px solid rgba(0, 0, 0, 0);
  border-top: 4px solid #fff;
  content: "";
  float: right;
  height: 0;
  margin: 0 0 0 9px;
  position: absolute;
  text-align: right;
  top: 22px;
  width: 0;
}
.myPBS-pillMenu-wsmenu-list > li > a,
.myPBS-pillMenu-wsmenu-list > li > a:hover,
.myPBS-pillMenu-wsmenu-list > li > a:focus,
.myPBS-pillMenu-wsmenu-list > li > a:visited,
.myPBS-pillMenu-wsmenu-list > li > a:active {
  display: block;
  background-color: transparent;
  color: #fff;
  padding: 0px 14px;
  line-height: 48px;
  // border-right: 1px solid rgba(0, 0, 0, 0.10);
  text-decoration: none;
  position: relative;
}


/*For myPBS-pillMenu-megamenu desktop */
.myPBS-pillMenu-wsmenu-list li:hover .myPBS-pillMenu-megamenu {
  opacity: 1;
}
.myPBS-pillMenu-megamenu {
  width: 100%;
  left: 0px;
  position: absolute;
  top: 48px;
  color: #000;
  z-index: 1000;
  margin: 0px;
  text-align: left;
  padding: 0 0 0 14px;
  font-size: 15px;
  border: solid 1px #eeeeee;
  background-color: #fff;
  opacity: 0;
  -o-transform-origin: 0% 0%;
  -ms-transform-origin: 0% 0%;
  -moz-transform-origin: 0% 0%;
  -webkit-transform-origin: 0% 0%;
  -o-transition: -o-transform 0.3s, opacity 0.3s;
  -ms-transition: -ms-transform 0.3s, opacity 0.3s;
  -moz-transition: -moz-transform 0.3s, opacity 0.3s;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
}
.myPBS-pillMenu-megamenu .title {
  border-bottom: 1px solid #CCC;
  font-size: 14px;
  padding: 9px 5px 9px 0px;
  font-size: 17px;
  color: #424242;
  margin-bottom: 7px;
  text-align: left;
  height: 39px;
}
.link-list {
  -webkit-columns: 2;
  -moz-columns: 2;
  columns: 2;
}
.link-list li {
  display: block;
  text-align: center;
  white-space: nowrap;
  text-align: left;
}
.link-list li:before {
  font-family: 'myPBS-pillMenu' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  content: "\e080";

  font-size: 8px;
  position: relative;
  top: -3px;
  margin-right: 6px;
}
.link-list li a {
  line-height: 18px;
  border-right: none;
  text-align: left;
  padding: 6px 0px;
  // background: #fff !important;
  background-image: none !important;
  color: #666666 !important;
  border-right: 0 none !important;
  display: inline-block;
  border-right: 1px solid #e7e7e7;
  // background-color: #fff;
  color: #424242;
}
/*Animation*/
.myPBS-pillMenu-wsmenu-list li > .myPBS-pillMenu-wsmenu-submenu {
  transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform: rotateX(-75deg);
  -o-transform: rotateX(-75deg);
  -moz-transform: rotateX(-75deg);
  -webkit-transform: rotateX(-75deg);
  visibility: hidden;
}
.myPBS-pillMenu-wsmenu-list li:hover > .myPBS-pillMenu-wsmenu-submenu {
  transform: rotateX(0deg);
  -o-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  -webkit-transform: rotateX(0deg);
  opacity: 1;
  visibility: visible;
}
.myPBS-pillMenu-wsmenu-submenu li > .myPBS-pillMenu-wsmenu-submenu-sub {
  transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform: rotateX(-75deg);
  -o-transform: rotateX(-75deg);
  -moz-transform: rotateX(-75deg);
  -webkit-transform: rotateX(-75deg);
  visibility: hidden;
}
.myPBS-pillMenu-wsmenu-submenu li:hover > .myPBS-pillMenu-wsmenu-submenu-sub {
  transform: rotateX(0deg);
  -o-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  -webkit-transform: rotateX(0deg);
  opacity: 1;
  visibility: visible;
}
.myPBS-pillMenu-wsmenu-submenu-sub li > .myPBS-pillMenu-wsmenu-submenu-sub-sub {
  transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform: rotateX(-75deg);
  -o-transform: rotateX(-75deg);
  -moz-transform: rotateX(-75deg);
  -webkit-transform: rotateX(-75deg);
  visibility: hidden;
}
.myPBS-pillMenu-wsmenu-submenu-sub li:hover > .myPBS-pillMenu-wsmenu-submenu-sub-sub {
  transform: rotateX(0deg);
  -o-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  -webkit-transform: rotateX(0deg);
  opacity: 1;
  visibility: visible;
}
.myPBS-pillMenu-wsmenu-list li > .myPBS-pillMenu-megamenu {
  transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform: rotateX(-75deg);
  -o-transform: rotateX(-75deg);
  -moz-transform: rotateX(-75deg);
  -webkit-transform: rotateX(-75deg);
  visibility: hidden;
}
.myPBS-pillMenu-wsmenu-list li.open > .myPBS-pillMenu-megamenu {
  transform: rotateX(0deg);
  -o-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  -webkit-transform: rotateX(0deg);
  opacity: 1;
  visibility: visible;
  display: block;
}
/* Submenu CSS */
.myPBS-pillMenu-wsmenu-submenu {
  position: absolute;
  top: 48px;
  z-index: 1000;
  margin: 0px;
  padding: 2px;
  border: solid 1px #eeeeee;
  background-color: #fff;
  opacity: 0;
  -o-transform-origin: 0% 0%;
  -ms-transform-origin: 0% 0%;
  -moz-transform-origin: 0% 0%;
  -webkit-transform-origin: 0% 0%;
  -o-transition: -o-transform 0.3s, opacity 0.3s;
  -ms-transition: -ms-transform 0.3s, opacity 0.3s;
  -moz-transition: -moz-transform 0.3s, opacity 0.3s;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
}
.myPBS-pillMenu-wsmenu-submenu li a {
  background: #fff !important;
  background-image: none !important;
  color: #666666 !important;
  border-right: 0 none !important;
  text-align: left;
  display: block;
  line-height: 22px;
  padding: 6px 12px;
  text-transform: none;
  font-size: 13px;
  letter-spacing: normal;
  border-right: 0px solid;
}
.myPBS-pillMenu-wsmenu-submenu li {
  position: relative;
  margin: 0px;
  padding: 0px;
}
.myPBS-pillMenu-expanderMain {
  display: none;
}
.myPBS-pillMenu-wsmenu-list li:hover .myPBS-pillMenu-wsmenu-submenu {
  display: block;
}
.myPBS-pillMenu-wsmenu-list .myPBS-pillMenu-wsmenu-submenu .myPBS-pillMenu-wsmenu-submenu-sub {
  min-width: 220px;
  position: absolute;
  left: 100%;
  top: 0;
  margin: 0px;
  padding: 0px;
  opacity: 0;
  -o-transform-origin: 0% 0%;
  -ms-transform-origin: 0% 0%;
  -moz-transform-origin: 0% 0%;
  -webkit-transform-origin: 0% 0%;
  -o-transition: -o-transform 0.4s, opacity 0.4s;
  -ms-transition: -ms-transform 0.4s, opacity 0.4s;
  -moz-transition: -moz-transform 0.4s, opacity 0.4s;
  -webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
}
.myPBS-pillMenu-wsmenu-list .myPBS-pillMenu-wsmenu-submenu li:hover .myPBS-pillMenu-wsmenu-submenu-sub {
  opacity: 1;
  list-style: none;
  padding: 2px;
  border: solid 1px #eeeeee;
  background-color: #fff;
}
.myPBS-pillMenu-wsmenu-list .myPBS-pillMenu-wsmenu-submenu li:hover .myPBS-pillMenu-wsmenu-submenu-sub {
  /*display:block;*/
}
.myPBS-pillMenu-wsmenu-list .myPBS-pillMenu-wsmenu-submenu .myPBS-pillMenu-wsmenu-submenu-sub .myPBS-pillMenu-wsmenu-submenu-sub-sub {
  min-width: 220px;
  position: absolute;
  left: 100%;
  top: 0;
  margin: 0px;
  padding: 0px;
  opacity: 0;
  -o-transform-origin: 0% 0%;
  -ms-transform-origin: 0% 0%;
  -moz-transform-origin: 0% 0%;
  -webkit-transform-origin: 0% 0%;
  -o-transition: -o-transform 0.4s, opacity 0.4s;
  -ms-transition: -ms-transform 0.4s, opacity 0.4s;
  -moz-transition: -moz-transform 0.4s, opacity 0.4s;
  -webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
}
.myPBS-pillMenu-wsmenu-list .myPBS-pillMenu-wsmenu-submenu .myPBS-pillMenu-wsmenu-submenu-sub li:hover .myPBS-pillMenu-wsmenu-submenu-sub-sub {
  opacity: 1;
  list-style: none;
  padding: 2px;
  border: solid 1px #eeeeee;
  background-color: #fff;
}
.myPBS-pillMenu-wsmenu-submenu li {
  position: relative;
  padding: 0px;
  margin: 0px;
  display: block;
}
.myPBS-pillMenu-wsmenu-click {
  display: none;
}
/* Default Theme */
.myPBS-pillMenu-wsmenu-submenu > li > a:hover {
  background-color: rgba(0, 0, 0, 0.08) !important;
  border-radius: 0px!important;
  text-decoration: none;
  text-decoration: none;
}



@media only screen and (min-width: 780px) and (max-width: 1023px) {
  .myPBS-pillMenu-wsmenu-list > li > a > .fa {
    display: none !important;
  }
  .myPBS-pillMenu-wsmenu {
    font-size: 13px !important;
  }
  .myPBS-pillMenu-wsmenu-list li a {
    white-space: nowrap !important;
    padding-left: 4px !important;
    padding-right: 4px !important;
  }
}



@media only screen and (min-width: 781px) and (max-width: 1200px) {
  .myPBS-pillMenu-wsmenu-list li a .myPBS-pillMenu-arrow:after {
    display: none !important;
  }
}



@media only screen and (min-width: 781px) {
  .myPBS-pillMenu-wsmenu-submenu li:hover > .myPBS-pillMenu-wsmenu-submenu-sub {
    display: block !important;
  }
  .myPBS-pillMenu-wsmenu-submenu-sub li:hover > .myPBS-pillMenu-wsmenu-submenu-sub-sub {
    display: block !important;
  }
  .myPBS-pillMenu-wsmenu-list li:hover > .myPBS-pillMenu-megamenu {
    display: block !important;
  }
}



/*------------------------------------ Mobile CSS ---------------------------------------------*/

@media only screen and (max-width: 780px) {
  .myPBS-pillMenu-wsmenu-list > li:hover>a {
    background-color: rgba(0, 0, 0, 0.08) !important;
    text-decoration: none;
  }
  .myPBS-pillMenu-overlapblackbg {
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    display: none;
    background-color: rgba(0, 0, 0, 0.45);
    cursor: pointer;
  }


  /* Default Theme */
  .myPBS-pillMenu-wsmenu-submenu > li:hover>a {
    background-color: #7b7b7b;
    color: #666666;
  }
  .myPBS-pillMenu-wsmenu > .myPBS-pillMenu-wsmenu-list > li > a.active {
    color: #666666;
    background-color: rgba(0, 0, 0, 0.08);
  }
  .myPBS-pillMenu-wsmenu-list li:hover .myPBS-pillMenu-wsmenu-submenu {
    display: none;
  }
  .myPBS-pillMenu-wsmenu-list li:hover .myPBS-pillMenu-wsmenu-submenu .myPBS-pillMenu-wsmenu-submenu-sub {
    display: none;
  }
  .myPBS-pillMenu-wsmenu-list .myPBS-pillMenu-wsmenu-submenu .myPBS-pillMenu-wsmenu-submenu-sub li:hover .myPBS-pillMenu-wsmenu-submenu-sub-sub {
    display: none;
    list-style: none;
    padding: 2px;
    border: solid 1px #eeeeee;
    background-color: #fff;
  }
  .myPBS-pillMenu-wsmenu-list li:first-child a {
    -webkit-border-radius: 0px 0px 0px 0px;
    -moz-border-radius: 0px 0px 0px 0px;
    border-radius: 0px 0px 0px 0px;
  }
  .myPBS-pillMenu-wsmenu-list li:last-child a {
    -webkit-border-radius: 0px 4px 0px 0px;
    -moz-border-radius: 0px 0px 0px 0px;
    border-radius: 0px 0px 0px 0px;
    border-right: 0px solid;
  }
  .myPBS-pillMenu-container {
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    min-height: 800px;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
  .myPBS-pillMenu-expanderMain {
    display: block !important;
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }


  /* Mobile click to drop myPBS-pillMenu-arrow */
  .myPBS-pillMenu-wsmenu-click {
    height: 43px;
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    cursor: pointer;
    width: 100%;
  }
  .myPBS-pillMenu-wsmenu-click i {
    display: block;
    height: 23px;
    width: 25px;
    margin-top: 11px;
    margin-right: 8px;
    background-size: 25px;
    font-size: 21px;
    color: rgba(0, 0, 0, 0.25);
    float: right;
  }
  .myPBS-pillMenu-wsmenu-rotate {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }


  /*2nd UL Style*/
  .myPBS-pillMenu-wsmenu-submenu-sub {
    width: 100% !important;
    position: static !important;
    left: 100% !important;
    top: 0 !important;
    display: none;
    margin: 0px !important;
    padding: 0px !important;
    border: solid 0px !important;
    transform: none !important;
    opacity: 1 !important;
    visibility: visible !important;
  }
  .myPBS-pillMenu-wsmenu-submenu-sub li {
    margin: 0px 0px 0px 0px !important;
    padding: 0px;
    position: relative;
  }
  .myPBS-pillMenu-wsmenu-submenu-sub a {
    display: block;
    padding: 10px 25px 10px 25px;
    border-bottom: solid 1px #ccc;
    font-weight: normal;
  }
  .myPBS-pillMenu-wsmenu-submenu-sub li a.active {
    color: #000 !important;
  }
  .myPBS-pillMenu-wsmenu-submenu-sub li:hover>a {
    background-color: #333333 !important;
    color: #fff;
  }
  .myPBS-pillMenu-wsmenu-list > li > a .fa {
    margin-right: 6px;
  }
  .myPBS-pillMenu-wsmenu-submenu-sub-sub {
    width: 100% !important;
    position: static !important;
    left: 100% !important;
    top: 0 !important;
    display: none;
    margin: 0px !important;
    padding: 0px !important;
    border: solid 0px !important;
    transform: none !important;
    opacity: 1 !important;
    visibility: visible !important;
  }
  .myPBS-pillMenu-wsmenu-submenu-sub-sub li {
    margin: 0px 0px 0px 0px !important;
  }
  .myPBS-pillMenu-wsmenu-submenu-sub-sub a {
    display: block;
    color: #000;
    padding: 10px 25px;
    background: #000 !important;
    border-bottom: solid 1px #ccc;
    font-weight: normal;
  }
  .myPBS-pillMenu-wsmenu-submenu-sub-sub li a.active {
    color: #000 !important;
  }
  .myPBS-pillMenu-wsmenu-submenu-sub-sub li:hover>a {
    background-color: #606060 !important;
    color: #fff;
  }
  .myPBS-pillMenu-wsmenu {
    position: relative;
  }
  .myPBS-pillMenu-wsmenu .myPBS-pillMenu-wsmenu-list {
    height: 100%;
    overflow-y: auto;
    display: block !important;
  }
  .myPBS-pillMenu-wsmenu .myPBS-pillMenu-wsmenu-list > li {
    // width: 240px;
    width: 100%;
    display: block;
    float: none;
    border-right: none;
    background-color: transparent;
    position: relative;
    // white-space: inherit;
    white-space: normal;
    margin: 0;
  }
  .myPBS-pillMenu-wsmenu > .myPBS-pillMenu-wsmenu-list > li > a {
    padding: 9px 32px 9px 17px;
    font-size: 14px;
    text-align: left;
    // border-right: solid 0px;
    background-color: transparent;
    color: #666666;
    line-height: 25px;
    border-bottom: 1px solid;
    border-bottom-color: rgba(0, 0, 0, 0.13);
    position: static;
  }
  .myPBS-pillMenu-wsmenu > .myPBS-pillMenu-wsmenu-list > li > a > .fa {
    font-size: 16px;
    color: #bfbfbf;
  }
  .myPBS-pillMenu-wsmenu .myPBS-pillMenu-wsmenu-list li a .myPBS-pillMenu-arrow:after {
    display: none !important;
  }
  .myPBS-pillMenu-wsmenu .myPBS-pillMenu-wsmenu-list li ul li a .fa.fa-caret-right {
    font-size: 12px !important;
    color: #8E8E8E;
  }
  .myPBS-pillMenu-mobile-sub .myPBS-pillMenu-wsmenu-submenu {
    transform: none !important;
    opacity: 1 !important;
    display: none;
    position: relative !important;
    top: 0px;
    background-color: #fff;
    border: solid 1px #ccc;
    padding: 0px;
    visibility: visible !important;
  }
  .myPBS-pillMenu-mobile-sub .myPBS-pillMenu-wsmenu-submenu li a {
    line-height: 20px;
    height: 36x;
    background-color: #e7e7e7 !important;
    font-size: 13px !important;
    padding: 8px 0px 8px 18px;
    color: #8E8E8E;
  }
  .myPBS-pillMenu-mobile-sub .myPBS-pillMenu-wsmenu-submenu li a:hover {
    background-color: #e7e7e7 !important;
    color: #666666;
    text-decoration: underline;
  }
  .myPBS-pillMenu-mobile-sub .myPBS-pillMenu-wsmenu-submenu li:hover>a {
    background-color: #e7e7e7 !important;
    color: #666666;
  }
  .myPBS-pillMenu-mobile-sub .myPBS-pillMenu-wsmenu-submenu li .myPBS-pillMenu-wsmenu-submenu-sub li a {
    line-height: 20px;
    height: 36x;
    background-color: #e7e7e7 !important;
    border-bottom: none;
    padding-left: 28px;
  }
  .myPBS-pillMenu-mobile-sub .myPBS-pillMenu-wsmenu-submenu li .myPBS-pillMenu-wsmenu-submenu-sub li .myPBS-pillMenu-wsmenu-submenu-sub-sub li a {
    line-height: 20px;
    height: 36x;
    background-color: #e7e7e7 !important;
    border-bottom: none !important;
    padding-left: 38px;
    color: #8e8e8e;
  }
  .mrginleft {
    // margin-left: 240px;
    width: 80%;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
  .myPBS-pillMenu-wsmenu-list .myPBS-pillMenu-megamenu {
    // background-color: #e7e7e7;
    background-color: #fff;
    color: #666666;
    display: none;
    position: relative !important;
    top: 0px;
    padding: 0px;
    border: solid 0px;
    transform: none !important;
    opacity: 1 !important;
    visibility: visible !important;
  }
  .myPBS-pillMenu-wsmenu-list li:hover .myPBS-pillMenu-megamenu {
    // display: none;
    position: relative !important;
    top: 0px;
  }
  .myPBS-pillMenu-megamenu .title {
    color: #666666;
    font-size: 15px !important;
    padding: 10px 8px 10px 0px;
  }
  .myPBS-pillMenu-megamenu > ul {
    width: 100% !important;
    margin: 0px;
    padding: 0px;
    font-size: 13px !important;
  }
  .myPBS-pillMenu-megamenu > ul > li > a {
    padding: 9px 14px !important;
    line-height: normal !important;
    font-size: 13px !important;
    background-color: #e7e7e7 !important;
    color: #666666;
  }
  .myPBS-pillMenu-megamenu > ul > li > a:hover {
    background-color: #CCC !important;
  }
  .myPBS-pillMenu-bootstrap .nav-tabs > li > a {
    border-radius: 0;
  }
  .myPBS-pillMenu-megamenu ul li.title {
    line-height: 26px;
    color: #666666;
    margin: 0px;
    font-size: 15px;
    padding: 7px 13px !important;
    border-bottom: 1px solid #ccc;
    background-color: transparent !important;
  }
  .myPBS-pillMenu-wsmenu {
    width: 0px;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    margin: 0;
    background-color: #fff;
    border-radius: 0px;
    z-index: 100;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    border: none !important;
    background-color: #fff !important;
  }


  /*Nav Expanding Open Effect*/
  .myPBS-pillMenu-wsmenu.menuopen {
    // width: 240px;
    width: 80%;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
  .myPBS-pillMenu-wsmenu.menuclose {
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
  .myPBS-pillMenu-content {
    z-index: 1;
  }


  /* Navigation myPBS-pillMenu-arrow Animation */
  .myPBS-pillMenu-animated-myPBS-pillMenu-arrow {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 200;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
  .myPBS-pillMenu-expanderMain .menuopen {
    // left: 240px !important;
    // width: 80% !important;
    left: 80%;
    margin-top: 4px !important;
  }
  .myPBS-pillMenu-smalLogo {
    width: 100%;
    display: block;
    text-align: center;
    padding-top: 9px;
    position: fixed;
    z-index: 0;
    width: 100%;
    height: 52px;
    background: #262626;
    background: -moz-linear-gradient(top, #262626 0, #1c1c1c 50%, #262626 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #262626), color-stop(50%, #1c1c1c), color-stop(100%, #262626));
    background: -webkit-linear-gradient(top, #262626 0, #1c1c1c 50%, #262626 100%);
    background: -o-linear-gradient(top, #262626 0, #1c1c1c 50%, #262626 100%);
    background: -ms-linear-gradient(top, #262626 0, #1c1c1c 50%, #262626 100%);
    background: linear-gradient(to bottom, #262626 0, #1c1c1c 50%, #262626 100%);
    // filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#262626', endColorstr='#262626', GradientType=0);
    box-shadow: 0 1px 4px rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, .5);
  }
  .myPBS-pillMenu-animated-myPBS-pillMenu-arrow {
    cursor: pointer;
    padding: 13px 35px 16px 0px;
    margin: 10px 0 0 15px;
  }
  .myPBS-pillMenu-animated-myPBS-pillMenu-arrow span,
  .myPBS-pillMenu-animated-myPBS-pillMenu-arrow span:before,
  .myPBS-pillMenu-animated-myPBS-pillMenu-arrow span:after {
    cursor: pointer;
    height: 3px;
    width: 23px;
    background: #c9c9c9;
    position: absolute;
    display: block;
    content: '';
  }
  .myPBS-pillMenu-animated-myPBS-pillMenu-arrow span:before {
    top: -7px;
  }
  .myPBS-pillMenu-animated-myPBS-pillMenu-arrow span:after {
    bottom: -7px;
  }
  .myPBS-pillMenu-animated-myPBS-pillMenu-arrow span,
  .myPBS-pillMenu-animated-myPBS-pillMenu-arrow span:before,
  .myPBS-pillMenu-animated-myPBS-pillMenu-arrow span:after {
    transition: all 500ms ease-in-out;
  }
  .myPBS-pillMenu-animated-myPBS-pillMenu-arrow.menuopen span {
    background-color: transparent;
  }
  .myPBS-pillMenu-animated-myPBS-pillMenu-arrow.menuopen span:before,
  .myPBS-pillMenu-animated-myPBS-pillMenu-arrow.active span:after {
    top: 7px;
  }
  .myPBS-pillMenu-animated-myPBS-pillMenu-arrow.menuopen span:before {
    transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    bottom: 0px;
  }
  .myPBS-pillMenu-animated-myPBS-pillMenu-arrow.menuopen span:after {
    transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  /*Animation None */

  .myPBS-pillMenu-wsmenu-list li > .myPBS-pillMenu-wsmenu-submenu {
    transform: none !important;
    -o-transform: none !important;
    -moz-transform: none !important;
    -webkit-transform: none !important;
    transform: none !important;
    -o-transform: none !important;
    -moz-transform: none !important;
    -webkit-transform: none !important;
    visibility: visible !important;
  }
  .myPBS-pillMenu-wsmenu-list li:hover > .myPBS-pillMenu-wsmenu-submenu {
    transform: none !important;
    -o-transform: none !important;
    -moz-transform: none !important;
    -webkit-transform: none !important;
    transform: none !important;
    -o-transform: none !important;
    -moz-transform: none !important;
    -webkit-transform: none !important;
    visibility: visible !important;
  }
  .myPBS-pillMenu-wsmenu-submenu li > .myPBS-pillMenu-wsmenu-submenu-sub {
    transform: none !important;
    -o-transform: none !important;
    -moz-transform: none !important;
    -webkit-transform: none !important;
    transform: none !important;
    -o-transform: none !important;
    -moz-transform: none !important;
    -webkit-transform: none !important;
    visibility: visible !important;
  }
  .myPBS-pillMenu-wsmenu-submenu li:hover > .myPBS-pillMenu-wsmenu-submenu-sub {
    transform: none !important;
    -o-transform: none !important;
    -moz-transform: none !important;
    -webkit-transform: none !important;
    transform: none !important;
    -o-transform: none !important;
    -moz-transform: none !important;
    -webkit-transform: none !important;
    visibility: visible !important;
    opacity: 1 !important;
  }
  .myPBS-pillMenu-wsmenu-submenu-sub li > .myPBS-pillMenu-wsmenu-submenu-sub-sub {
    transform: none !important;
    -o-transform: none !important;
    -moz-transform: none !important;
    -webkit-transform: none !important;
    transform: none !important;
    -o-transform: none !important;
    -moz-transform: none !important;
    -webkit-transform: none !important;
    visibility: visible !important;
    opacity: 1 !important;
  }
  .myPBS-pillMenu-wsmenu-submenu-sub li:hover > .myPBS-pillMenu-wsmenu-submenu-sub-sub {
    transform: none !important;
    -o-transform: none !important;
    -moz-transform: none !important;
    -webkit-transform: none !important;
    transform: none !important;
    -o-transform: none !important;
    -moz-transform: none !important;
    -webkit-transform: none !important;
    visibility: visible !important;
    opacity: 1 !important;
  }
  .myPBS-pillMenu-wsmenu-list li > .myPBS-pillMenu-megamenu {
    transform: none !important;
    -o-transform: none !important;
    -moz-transform: none !important;
    -webkit-transform: none !important;
    transform: none !important;
    -o-transform: none !important;
    -moz-transform: none !important;
    -webkit-transform: none !important;
    visibility: visible !important;
    opacity: 1 !important;
  }
  .myPBS-pillMenu-wsmenu-list li:hover > .myPBS-pillMenu-megamenu {
    transform: none !important;
    -o-transform: none !important;
    -moz-transform: none !important;
    -webkit-transform: none !important;
    transform: none !important;
    -o-transform: none !important;
    -moz-transform: none !important;
    -webkit-transform: none !important;
    visibility: visible !important;
    opacity: 1 !important;
  }
}
















/* Styles for New Navigation */
@media (max-width: $screen-xs-max) {
  .myPBS-pillMenu-container .menu-icon {
    display: none;
  }
  .myPBS-pillMenu-mobile-sub li:last-child {
    display: none;
  }
}

.myPBS-pillMenu-pbsLogoMobile { width: 65px; }

.myPBS-pillMenu-icon-logo,
.myPBS-pillMenu-container .menu-icon {
  font-size: 24px;
  position: relative;
  top: 4px;
}

