.myPBS-pillMenu-container .tabs-left {
	border-bottom: none;
}
.myPBS-pillMenu-container .tabs-left li {
	float: none;
}
.myPBS-pillMenu-container .tabs-left li,
.myPBS-pillMenu-container .tabs-left li.active a,
.myPBS-pillMenu-container .tabs-left li a,
.myPBS-pillMenu-container .tabs-left li a:hover,
.myPBS-pillMenu-container .tabs-left li.active a:hover {
	border: none !important;
}

.myPBS-pillMenu-container .nav-tabs > li {
  float: none;
}
.myPBS-pillMenu-container .nav-tabs {
  border: none;
}